<section id="hero1" class="hero">
    <div class="container">
        <div class="inner">
            <div class="copy">
            <span id="hero-text">Greenville Beer Exchange</span>
            <span id="hero-sub-text">Greenville's craft beer destination</span>
            <br>
            <span id="hero-sub-text">Monday-Saturday: 11am-9pm</span>
            <span id="hero-sub-text">Sunday: 12pm-6pm</span>
            </div>
        </div>
    </div>
</section>