<section id="hero1" class="hero">
    <div class="container">
        <div class="inner">
            <div class="copy">
            <span id="hero-text">Greenville Beer Exchange</span>
            <span id="hero-sub-text">Greenville's craft beer store</span>
            </div>
        </div>
    </div>
</section>