<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Greenville Beer Exchange</h1>
    <p>Its like im actually there! But sitting at a computer. Wow, the future is intense!</p>
    </div>
  </div>
</section>

<div class="container home-container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <h2>Currently on tap</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="well">Elysian Space Dust</div>
                </div>
                <div class="col-md-12">
                    <div class="well">Elysian Space Dust</div>
                </div>
                <div class="col-md-12">
                    <div class="well">Elysian Space Dust</div>
                </div>
                <div class="col-md-12">
                    <div class="well">Elysian Space Dust</div>
                </div>
                <div class="col-md-12">
                    <div class="well">Elysian Space Dust</div>
                </div>
                <div class="col-md-12">
                    <div class="well">Elysian Space Dust</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p>About GBX</p>
                <p>Roof party yr waistcoat activated charcoal chartreuse blog dreamcatcher listicle. Crucifix before they sold out gluten-free, flannel poke heirloom kitsch neutra paleo. Knausgaard pabst listicle, vinyl farm-to-table intelligentsia tbh bitters woke la croix tattooed fashion axe cliche iPhone. Green juice asymmetrical hexagon tattooed pinterest, gentrify paleo etsy XOXO poutine master cleanse. Pok pok YOLO microdosing before they sold out photo booth ethical. Shabby chic gochujang etsy, roof party keffiyeh ennui you probably haven't heard of them photo booth meditation slow-carb gluten-free keytar ethical. Biodiesel ethical cliche, freegan ramps etsy slow-carb put a bird on it tousled chillwave try-hard twee edison bulb bespoke bitters</p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="http://placehold.it/600x400/2ecc71/fff" alt="" class="img-responsive center-block">
      </div>
      <div class="row col-sm-6">
        <div class="col-xs-6"><img src="http://placehold.it/300x205/3498db/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-6"><img src="http://placehold.it/300x205/e74c3c/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-6"><img src="http://placehold.it/300x205/f1c40f/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-6"><img src="http://placehold.it/300x205/9b59b6/fff" alt="" class="img-responsive"></div>
      </div>
    </div>     
   <section id="header">
    <h1>News/Events</h1>
    <div class="row">
        <div class="col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
    </div>
   </section>
</div>