<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="footer__header">
                <p id="footer__header-text">subscribe to our newsletter</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 subscribe-container">
                  <p>Give me your email and keep up to date on my cat's thoughts.</p>
                  <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
                    <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
                    <%= submit_tag("Sign me up!") %>
                  <% end %>
                </div>
            </div>
            <div>
                <%= image_tag('logo', class: "footer__image") %>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 footer__content-container">
                    <p id="footer__copy">
                        Watermelon is a vine-like flowering plant originally from southern Africa. It is a large, sprawling annual plant with coarse, hairy pinnately-lobed leaves and white to yellow flowers. It is grown for its edible fruit, also known as a watermelon, which is a special kind of berry botanically called a pepo.
                    </p>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
</footer>
