/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*site wide fix on the nav bar*/
body {
  background-color: #2B2B2B;
}

.no-margin {
    margin-bottom: 0px;
}

.navbar {
    background-color: #2B2B2B;
    border: 0;
    min-height: 100px;
}

.navbar-right {
	margin-top: 25px;
}

.navbar-brand {
  height: 100px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding: 0px 0px;
}

.navbar-toggle {
	margin-top: 35px;
	border: none;
}

.navbar-header {
	margin-bottom: 12px;
}

/*footer styles*/
.footer {
  	min-height: 475px;
  	width: 100%;
  	background-color: #22201F;
	padding-bottom: 30px;
	position: relative;
}

.footer__header {
	margin-top: 55px;
}

#footer__email-input {
	height: 45px;
	opacity: 0.4;
	border: 2px solid #FFFFFF;
	border-radius: 3px;
}

#footer__header-text {
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}

.subscribe-container {
	margin-top: 40px;
}

.footer__content-container {
	margin-top: 23px;
}

#footer__copy {
	opacity: 0.5;
	font-family: "PT Serif";
	font-size: 14px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
}

.footer__image {
	max-width: 300px;
	margin: auto;
	display: block;
	margin-top: 23px;
}

.subscribe-container {
	text-align: center;
}
.override{
    width: 225px;
    background-color: #E36556;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: auto;
}
@media (max-width: 768px) {

  .override{
      margin-top: 15px;
  }

}

