// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-box {
  min-height: 320px;
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  background-color: #2F3439;
  background-clip: padding-box;
  border: 20px solid transparent;
  h2 {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
  }
}

#header {
  h1 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
  }
}

.events--no_events {
  color: #E36556;
  text-align: center;
  font-family: "PT Serif", serif;
  padding-bottom: 20px;
}

.events_description {
    font-family: "PT Serif", serif;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    margin: 0;
    padding: 0; 
}