// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: #ebebeb;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header{
  z-index: 1;
  position:fixed; 
  width:100%; 
  height:60px; 
  background:rgba(0,0,0,0.1);
}

#hero1{
  background: image-url('../assets/landing-bg.png');
  background-size:cover;
  background-position:center center;
}

.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}


.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
}

.hero h1, .hero p{ 
  color:#fff;
}

.content h1, .content p{
  color:#333;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-style: normal;
  font-size:42px;
  text-align: left;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  text-align: left;
}

.home-container {
    margin-top: 50px;
}

.rounded-box {
    background-color: white;
    border-radius: 5px;
}

.img-responsive {
  margin-bottom: 30px;
}

#header {
    h1 {
        text-align: center;
        margin: 30px;
    }
}
