<div class="col-md-4 col-xs-12">
    <div class="well product-sort-well">
        <span id="about-text">Sort by Type</span>
        <div class="checkbox">
          <label><input type="checkbox" value="">IPA</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Stout</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Sour</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Brown Ale</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Beer Type</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Beer Type</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Beer Type</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Beer Type</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Beer Type</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Beer Type</label>
        </div>
    </div>
</div>