<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="well" id="tap-header">
                    <span>Online Store</span>
                    <label><input type="checkbox" value="" checked>Show All Stock</label>
                    <label><input type="checkbox" value="">Show Out of Stock</label>
                </div>
            </div>
            <div class="col-md-12">
                 <div class="well tap-well">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elysian Space Dust</p>
                            <span id="sub-text">Elysian Brewing Company</span>
                            <br>
                            <span id="sub-text">Seattle, Washington</span>
                        </div>
                        <div class="col-md-4">
                            <p>American IPA</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="abv">8.5%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                 <div class="well tap-well">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elysian Space Dust</p>
                            <span id="sub-text">Elysian Brewing Company</span>
                            <br>
                            <span id="sub-text">Seattle, Washington</span>
                        </div>
                        <div class="col-md-4">
                            <p>American IPA</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="abv">8.5%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                 <div class="well tap-well">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elysian Space Dust</p>
                            <span id="sub-text">Elysian Brewing Company</span>
                            <br>
                            <span id="sub-text">Seattle, Washington</span>
                        </div>
                        <div class="col-md-4">
                            <p>American IPA</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="abv">8.5%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                 <div class="well tap-well">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elysian Space Dust</p>
                            <span id="sub-text">Elysian Brewing Company</span>
                            <br>
                            <span id="sub-text">Seattle, Washington</span>
                        </div>
                        <div class="col-md-4">
                            <p>American IPA</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="abv">8.5%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                 <div class="well tap-well">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elysian Space Dust</p>
                            <span id="sub-text">Elysian Brewing Company</span>
                            <br>
                            <span id="sub-text">Seattle, Washington</span>
                        </div>
                        <div class="col-md-4">
                            <p>American IPA</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="abv">8.5%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                 <div class="well tap-well">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elysian Space Dust</p>
                            <span id="sub-text">Elysian Brewing Company</span>
                            <br>
                            <span id="sub-text">Seattle, Washington</span>
                        </div>
                        <div class="col-md-4">
                            <p>American IPA</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="abv">8.5%</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render 'products_sort' %>
</div>
