<!-- Second navbar for categories -->
<nav class="navbar navbar-default no-margin">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <%= link_to root_url do %>
                <%= image_tag 'logo', :class => "navbar-brand" %>
            <% end %>
        </div>
    </div><!-- /.container -->
</nav><!-- /.navbar -->
