<div class="col-md-4 col-xs-12">
    <div class="well about-well">
        <span id="about-text">About GBX</span>
        <br>
        <span id="about-sub-text">We are Greenville's Craft Beer Destination! Whether you're looking for the hottest new release, or that tried and true Trappist ale, GBX is the Beer Store you are looking for.  We carry everything from classic German and Belgian ales, to the best local breweries you can only find in SC!  Not into beer?  We have the largest selection of Craft Mead and Hard Cider around as well!
        <br>
        <br>
        Not only are we the best Bottle Shop around, but also a Tap Room where you can drink while you shop!  Order a flight, hang out and play a board game, or get nostalgic with our FREE arcade loaded with thousands of classic video games!  We have 16 rotating taps pouring pints for here or Growlers of fresh Craft Beer to go!
        <br>
        <br>
        In our Beer Store, every beer is priced as a single.  So you can make your own six pack, or just buy a couple beers individually!
        <br>
        <br>
        Join us for our weekly FREE Beer Tasting every Thursday from 5-7pm!
        <br>
        <br>Check back soon for the launch of our online store!</span>
    </div>
</div>
<div class="col-md-4 col-xs-6 review-widget">
    <script type="text/javascript" src="https://reviews.revlocal.com/embed/v4/149210861145199/7/2727923469"></script><div id="bf-revz-widget-2727923469"></div>
</div>
