<div class="col-md-4 col-xs-12">
    <div class="well about-well">
        <span id="about-text">About GBX</span>
        <br>
        <span id="about-sub-text">Roof party yr waistcoat activated charcoal chartreuse blog dreamcatcher listicle. Crucifix before they sold out gluten-free, flannel poke heirloom kitsch neutra paleo. Knausgaard pabst listicle, vinyl farm-to-table intelligentsia tbh bitters woke la croix tattooed fashion axe cliche iPhone.
        <br>
        <br>
        Shabby chic gochujang etsy, roof party keffiyeh ennui you probably haven't heard of them photo booth meditation slow-carb gluten-free keytar ethical. Biodiesel ethical cliche, freegan ramps etsy slow-carb put a bird on it tousled chillwave try-hard twee edison bulb bespoke bitters</span>
    </div>
</div>
<div class="col-md-4 col-xs-12">
  <div class="well hours-well">
      <span id="hours">Hours</span>
      <span>Monday-Saturday</span>
      <br>
      <span>11am-9pm</span>
      <br>
      <span>Sunday 12pm-6pm</span>
  </div>
</div>
