<div class="col-md-4 col-xs-12">
    <div class="well about-well">
        <span id="about-text">About GBX</span>
        <br>
        <span id="about-sub-text">We are Greenville's Craft Beer Destination! Whether you're looking for the hottest local new release, or that old tried and true Trappist ale, GBX has you covered.
        <br>
        <br>
        We sell singles of every beer in the store!  So you can mix-and-match a six pack, or just buy a couple beers individually!
        <br>
        <br>
        Fill your Growler with any of our 16 beers on tap, or order a pint to sip while you shop!  We have board games and a FREE arcade loaded with thousands of classic video games to keep you entertained!
        <br>
        <br>
        Check back soon for the launch of our online store!</span>
    </div>
</div>
