<!DOCTYPE html>
<html>
  <%= render 'layouts/html_top' %>

  <body id="landing-body">
    <%# This class contains the background image %>
    <div class="wrapper"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-md-6" id="header-text">
                <h1>Greenville Beer Exchange</h1>
                <p>Greenville's Craft Beer Destination!</p>
                <p>7 S Laurens St. Suite A</p>
                <p>Greenville, SC 29601</p>
                <p><a href="tel:8642323533">(864) 232-3533</a></p>
                <p>Hours of Operation:</p>
                <p>Monday-Saturday 11am-9pm</p>
                <p>Sunday 12pm-6pm</p>
                <div class="cta-buttons">
                    <%= link_to "Enter Site", home_path, class: "btn landing-button" %>
                    <a href="#" class="btn landing-button">Online Store (coming soon!)</a> 
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
