<!DOCTYPE html>
<html>
  <%= render 'layouts/html_top' %>

  <body id="landing-body">
    <%# This class contains the background image %>
    <div class="wrapper"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-md-6" id="header-text">
                <h1>Greenville Beer Exchange</h1>
                <p>7 Laurens St. Greenville SC</p>
                <a href="/products" class="btn landing-button">Online Store</a>
                <a href="/home" class="btn landing-button">Greenville Location</a>
            </div>
        </div>
    </div>
  </body>
</html>
